{% extends 'static_base.html' %}

{% block content %}
    <div class="px-4 py-5 text-center">
        <div class="py-5">
        <h1 class="display-5 fw-bold">Dark color hero</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
            <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
            </div>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Suscipit pede, deserunt dapibus risus alias, class, eaque minus voluptatum curabitur pretium aute senectus tortor? Aptent erat vel, sapiente delectus eveniet ea atque vivamus? Nullam vel consequatur suspendisse! Illum conubia lacinia ratione alias faucibus fugiat iaculis. Magni in aliquam qui dignissim ducimus viverra consequuntur, perspiciatis libero suscipit dolorum? Aliquam recusandae exercitation praesent recusandae ullamco suscipit arcu lectus voluptate odio neque molestias sapiente id netus? Facilis error non minus nisi assumenda? Aliqua repellat. Risus earum aperiam laboriosam ratione sodales. Maiores, tempus platea suscipit pretium purus, urna blandit laudantium cillum torquent sit inceptos? Incidunt, repellendus, tincidunt hendrerit quo expedita minim debitis, expedita.</p>

<p>Itaque nostrum excepturi eros sint alias lacinia taciti sagittis mollis fusce officia! Viverra necessitatibus? Vestibulum provident voluptatem magnam, at, feugiat. Porro, aenean, repudiandae tempora neque porro amet numquam aliquip ac? Magnam magna, volutpat pellentesque augue auctor? Vehicula aliqua mi semper ac repellendus pede netus reprehenderit, fugiat, pede duis? Vehicula, quaerat cursus morbi excepteur elit dolores, nec sequi minima! Repudiandae ducimus illo quos felis nobis saepe blandit quia posuere, corrupti lectus, risus auctor, commodo cumque suspendisse? Perspiciatis excepturi neque deleniti phasellus, eaque! Blandit vero tempus. Quod! Suspendisse nihil, wisi, mattis perferendis, culpa nunc error morbi hymenaeos fames commodo habitant cupiditate cras.</p>

<p>Malesuada voluptatem vivamus. Pharetra cupiditate wisi? Duis parturient, magnam earum quos arcu, sociis tristique occaecat dicta occaecat fringilla! Nunc duis eveniet incidunt? Sociis iste aspernatur natus! Odit conubia molestias integer! Commodi sodales vestibulum saepe, dignissimos lacinia? Nostrud ullamcorper cubilia habitasse congue consequatur egestas amet neque diamlorem mollitia nostrum! Quibusdam quidem augue assumenda? Imperdiet suscipit non blandit habitasse habitasse nostrud nonummy ornare, leo vehicula assumenda! Nec quidem, occaecati error, aperiam perspiciatis. Adipisci occaecat, repudiandae mattis! Cras sodales, nostra justo recusandae itaque montes mollis, molestie nostrud? Interdum? Taciti pretium! Aut omnis alias proident in. Rutrum eius mi sociis nostrud officiis semper illum.</p>

<p>Aliquet curabitur expedita pretium scelerisque ab at volutpat feugiat hic, facilisis assumenda nibh dis cillum tincidunt non? Ultrices, taciti risus necessitatibus mauris, tincidunt suscipit delectus vehicula, bibendum temporibus! Aute sociis felis est. Convallis! Nobis tellus sint. Animi voluptatem mus duis, ridiculus modi. Habitant netus facilisi, nobis commodo eius! Ipsam anim, dolorum at nonummy faucibus, saepe ornare provident aliqua minima amet ornare condimentum cillum nisl aliquet. Proin nobis ex iusto voluptatum quasi doloribus? Quisque pariatur! Tempore platea eius minim anim eos turpis sem. Sollicitudin vehicula? Numquam volutpat quidem orci ullam, voluptas minim magnis ornare officiis habitant! Eaque eveniet beatae porta, minim.</p>

<p>Perspiciatis voluptatum autem pariatur dapibus, facilisi eligendi veritatis, blanditiis autem explicabo voluptatem? Cursus urna dis, quae, sem consectetuer, bibendum debitis, dictumst. Saepe voluptates! Rutrum eaque mus eaque doloremque aliquip sed? Magnis vivamus condimentum repellendus anim laudantium, aenean augue repellendus tempor doloribus nihil condimentum rem consequat hendrerit tenetur laudantium. Metus! Id ornare rerum penatibus accusamus perspiciatis? Natoque faucibus? Inceptos culpa esse eveniet recusandae potenti do adipisicing magna? Tellus vulputate, esse accumsan harum potenti eum autem eleifend labore nibh cupiditate, senectus, laudantium enim natoque, cupiditate adipisicing? Cumque alias libero doloremque eiusmod nemo nisi fringilla congue magnam quia bibendum exercitation distinctio class nihil.</p>
            </div>
        </div>
    </div>
{% endblock %}